<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [1]:
## Nạp toàn bộ thư viện
# from vnstock3 import *

## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock import Vnstock

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

In [2]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

2025-01-02 06:06:06 - vnstock.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

## Listing: Liệt kê danh sách chứng khoán

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [3]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 Công ty Cổ phần 32
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       AAM                    Công ty Cổ Phần Thủy Sản MeKong
3       AAS            Công ty Cổ phần Chứng khoán SmartInvest
4       AAT        Công ty Cổ phần Tập đoàn Tiên Sơn Thanh Hóa
...     ...                                                ...
1593    XPH                    Công ty Cổ phần Xà phòng Hà Nội
1594    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
1595    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
1596    YEG                     Công ty Cổ phần Tập đoàn Yeah1
1597    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...

[1598 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [4]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
stock.listing.symbols_by_exchange()

,symbol,id,type,exchange,en_organ_name,en_organ_short_name,organ_short_name,organ_name
0,YTC,8425620,STOCK,UPCOM,Ho Chi Minh City Medical Import Export Joint S...,YTECO,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1,YEG,8424579,STOCK,HSX,Yeah1 Group Corporation,Yeah1 Group,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1
2,YBM,8424470,STOCK,HSX,Yen Bai Industry Mineral Joint Stock Company,Yen Bai Industry Mineral,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3,YBC,8425710,STOCK,UPCOM,YenBai Cement and Minerals Joint Stock Company,YenBai Cement and Minerals,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4,XPH,8425864,STOCK,UPCOM,Hanoi Soap Joint Stock Company,Hanoi Soap,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội
...,...,...,...,...,...,...,...,...
2655,AAS,8425599,STOCK,UPCOM,Smart Invest Securities Joint Stock Company,SmartInvest Securities,Chứng khoán SmartInvest,Công ty Cổ phần Chứng khoán SmartInvest
2656,AAM,8424957,STOCK,HSX,Mekong Fisheries Joint Stock Company,Mekong Fisheries,Thủy sản Mekong,Công ty Cổ Phần Thủy Sản MeKong
2657,AAH,13216673,STOCK,UPCOM,Hop Nhat Joint Stock Company,Hop Nhat Coal,Than Hợp Nhất,Công ty Cổ phần Hợp Nhất
2658,AAA,8424464,STOCK,HSX,An Phat Bioplastics Joint Stock Company,An Phat Bioplastics,An Phát Bioplastics,Công ty Cổ phần Nhựa An Phát Xanh
2659,A32,8425330,STOCK,UPCOM,32 Joint Stock Company,32 Company,Công ty 32,Công ty Cổ phần 32

### Liệt kê mã CP theo ngành icb

In [5]:
stock.listing.symbols_by_industries()

,symbol,organ_name,en_organ_name,icb_name3,en_icb_name3,icb_name2,en_icb_name2,icb_name4,en_icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,BMK,Công ty Cổ Phần Kỹ thuật Nhiệt Mèo Đen,Black Cat Insulation Technical Joint Stock Com...,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Vật liệu xây dựng & Nội thất,Building Materials & Fixtures,CT,2000,2300,2350,2353
1,ACB,Ngân hàng Thương mại Cổ phần Á Châu,Asia Commercial Joint Stock Bank,Ngân hàng,Banks,Ngân hàng,Banks,Ngân hàng,Banks,NH,8301,8300,8350,8355
2,AIG,Công ty Cổ phần Nguyên liệu Á Châu AIG,AIG Asia Ingredients Corporation,Sản xuất thực phẩm,Food Producers,Thực phẩm và đồ uống,Food & Beverage,Thực phẩm,Food Products,CT,3000,3500,3570,3577
3,BRR,Công ty Cổ phần Cao su Bà Rịa,BaRia Rubber Joint Stock Company,Hóa chất,Chemicals,Hóa chất,Chemicals,"Nhựa, cao su & sợi",Commodity Chemicals,CT,1000,1300,1350,1353
4,ATB,Công ty Cổ phần An Thịnh,An Thinh Joint Stock Company,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Xây dựng,Heavy Construction,CT,2000,2300,2350,2357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590,X20,Công ty Cổ phần X20,X20 Joint Stock Company,Hàng cá nhân,Personal Goods,Hàng cá nhân & Gia dụng,Personal & Household Goods,Hàng May mặc,Clothing & Accessories,CT,3000,3700,3760,3763
1591,XMD,Công ty Cổ phần Xuân Mai - Đạo Tú,Xuan Mai - Dao Tu Joint Stock Company,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Vật liệu xây dựng & Nội thất,Building Materials & Fixtures,CT,2000,2300,2350,2353
1592,DFC,Công ty Cổ phần Xích líp Đông Anh,Dong Anh C&F Joint Stock Company,Kim loại,Industrial Metals & Mining,Tài nguyên Cơ bản,Basic Resources,Thép và sản phẩm thép,Steel,CT,1000,1700,1750,1757
1593,YBM,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,Yen Bai Industry Mineral Joint Stock Company,Khai khoáng,Mining,Tài nguyên Cơ bản,Basic Resources,Khai khoáng,General Mining,CT,1000,1700,1770,1775
1594,XMC,Công ty cổ phần Đầu tư và Xây dựng Xuân Mai,Xuan Mai Investment and Construction Corporation,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Vật liệu xây dựng & Nội thất,Building Materials & Fixtures,CT,2000,2300,2350,2353

### Danh sách cổ phiếu theo nhóm

In [6]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
stock.listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    MBB
11    MSN
12    MWG
13    PLX
14    POW
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh sách mã ngành theo mã icb

In [7]:
stock.listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Viễn thông,Telecommunications,6000,1
151,Tiện ích Cộng đồng,Utilities,7000,1
152,Tài chính,Financials,8000,1
153,Ngân hàng,Banks,8301,1
154,Công nghệ Thông tin,Technology,9000,1

## Quote: Giá chứng khoán

#### Giá lịch sử

##### Cổ phiếu

In [8]:
df = stock.quote.history(start='2024-01-01', end='2024-06-21', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
110 2024-06-17  24.60  24.60  24.25  24.55   6375848
111 2024-06-18  24.70  24.70  24.40  24.55   5729760
112 2024-06-19  24.55  24.70  24.25  24.65   7618993
113 2024-06-20  24.55  24.85  24.40  24.80  10178313
114 2024-06-21  24.85  24.85  24.50  24.55   5126289

[115 rows x 6 columns]

In [9]:
# Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
print(f'Mã chứng khoán: {df.name}')
print(f'Loại tài sản: {df.category}')

Mã chứng khoán: ACB
Loại tài sản: stock

##### Hợp đồng tương lai

In [10]:
stock.quote.history(symbol='VN30F1M', start='2024-01-02', end='2024-11-01', interval='1D')

          time    open    high     low   close  volume
0   2024-01-02  1138.5  1141.8  1131.0  1133.5  167307
1   2024-01-03  1127.2  1149.8  1126.7  1148.3  173569
2   2024-01-04  1146.0  1171.0  1145.5  1156.5  260804
3   2024-01-05  1156.1  1166.1  1154.2  1166.0  199452
4   2024-01-08  1166.1  1173.3  1160.6  1162.0  182329
..         ...     ...     ...     ...     ...     ...
203 2024-10-28  1330.0  1332.4  1327.2  1332.0  130507
204 2024-10-29  1334.0  1341.0  1334.0  1339.4  164121
205 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
206 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
207 2024-11-01  1340.4  1340.4  1326.1  1330.4  215897

[208 rows x 6 columns]

In [11]:
stock.quote.history(symbol='VN30F2411', start='2024-01-02', end='2024-11-01', interval='1D')

         time    open    high     low   close  volume
0  2024-09-20  1331.9  1338.7  1315.0  1331.5     496
1  2024-09-23  1332.0  1333.3  1326.6  1327.3     253
2  2024-09-24  1327.3  1335.8  1323.9  1335.1     254
3  2024-09-25  1334.8  1350.8  1334.8  1344.1     511
4  2024-09-26  1346.8  1366.5  1346.8  1358.2     575
5  2024-09-27  1359.7  1363.0  1353.1  1357.0     241
6  2024-09-30  1354.9  1360.3  1351.2  1357.8     324
7  2024-10-01  1362.3  1375.0  1359.9  1363.0     379
8  2024-10-02  1354.5  1362.3  1353.9  1361.3     299
9  2024-10-03  1362.0  1377.9  1351.6  1355.0     714
10 2024-10-04  1354.2  1354.6  1344.0  1345.0     616
11 2024-10-07  1349.9  1351.3  1335.9  1340.6     567
12 2024-10-08  1341.5  1350.3  1339.4  1345.0     524
13 2024-10-09  1347.5  1360.0  1345.2  1360.0     820
14 2024-10-10  1365.0  1374.8  1361.0  1366.2     836
15 2024-10-11  1368.5  1368.9  1357.2  1368.0     940
16 2024-10-14  1379.8  1379.8  1361.6  1363.5    7235
17 2024-10-15  1365.0  1374.1  1359.8  1361.9   19903
18 2024-10-16  1360.1  1365.3  1358.0  1362.9   25411
19 2024-10-17  1365.0  1369.5  1353.8  1369.0   55333
20 2024-10-18  1374.6  1377.9  1363.8  1365.9  257597
21 2024-10-21  1364.0  1369.9  1362.5  1363.9  165731
22 2024-10-22  1360.0  1363.3  1350.0  1352.2  195827
23 2024-10-23  1353.0  1355.4  1345.1  1354.0  210171
24 2024-10-24  1352.5  1354.1  1336.1  1338.0  233341
25 2024-10-25  1338.5  1339.8  1326.0  1327.2  226084
26 2024-10-28  1330.0  1332.4  1327.2  1332.0  130507
27 2024-10-29  1334.0  1341.0  1334.0  1339.4  164121
28 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
29 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
30 2024-11-01  1340.4  1340.4  1326.1  1330.4  215897

##### Chỉ số

In [12]:
stock.quote.history(symbol='VNINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time     open     high      low    close      volume
0   2024-01-02  1138.01  1139.71  1128.69  1131.72   842255467
1   2024-01-03  1131.97  1144.17  1128.32  1144.17   719932658
2   2024-01-04  1145.49  1160.08  1144.32  1150.72  1181354559
3   2024-01-05  1151.43  1155.84  1149.08  1154.68   803268328
4   2024-01-08  1157.54  1162.56  1155.48  1160.19   905408420
..         ...      ...      ...      ...      ...         ...
203 2024-10-28  1252.72  1255.18  1250.94  1254.77   482689840
204 2024-10-29  1258.03  1262.38  1257.43  1261.78   875048711
205 2024-10-30  1261.78  1264.84  1255.07  1258.63   536846200
206 2024-10-31  1258.63  1267.88  1255.55  1264.48   614271168
207 2024-11-01  1264.48  1264.67  1254.33  1254.89   580509631

[208 rows x 6 columns]

In [13]:
stock.quote.history(symbol='HNXINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time    open    high     low   close     volume
0   2024-01-02  230.69  232.40  229.70  229.99   59394600
1   2024-01-03  230.37  231.64  229.87  231.64   57900400
2   2024-01-04  231.63  233.66  231.63  232.56  111741500
3   2024-01-05  232.56  233.35  231.69  232.76   59577900
4   2024-01-08  232.76  234.88  232.38  233.33   82783300
..         ...     ...     ...     ...     ...        ...
203 2024-10-28  223.94  225.21  222.73  224.59   35406400
204 2024-10-29  224.59  226.06  224.25  225.56   37139600
205 2024-10-30  225.22  226.57  224.63  225.88   40530500
206 2024-10-31  225.99  226.81  224.62  226.36   35990900
207 2024-11-01  226.35  226.39  224.56  225.41   38209700

[208 rows x 6 columns]

In [14]:
stock.quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  87.05  88.06  87.00  87.58  34702000
1   2024-01-03  87.62  87.92  87.26  87.80  31183200
2   2024-01-04  87.80  88.15  87.31  87.73  43019000
3   2024-01-05  87.75  88.18  87.30  87.93  38998900
4   2024-01-08  87.93  88.55  87.54  87.79  31658800
..         ...    ...    ...    ...    ...       ...
203 2024-10-28  91.83  92.15  91.82  92.15  17695900
204 2024-10-29  92.15  92.40  91.93  92.32  19235800
205 2024-10-30  92.33  92.82  92.07  92.46  24912600
206 2024-10-31  92.47  92.56  92.05  92.38  28369100
207 2024-11-01  92.39  92.51  91.63  91.96  35940600

[208 rows x 6 columns]

##### Chứng quyền

In [15]:
stock.quote.history(symbol='CFPT2314', start='2024-01-02', end='2024-11-01', interval='1D')

          time  open  high   low  close  volume
0   2024-01-02  1.95  1.95  1.90   1.90   13300
1   2024-01-03  1.85  1.89  1.85   1.89   11800
2   2024-01-04  1.96  1.99  1.94   1.94   50800
3   2024-01-05  1.95  1.95  1.95   1.95     500
4   2024-01-08  1.93  1.99  1.93   1.97    5700
..         ...   ...   ...   ...    ...     ...
203 2024-10-28  5.70  5.83  5.70   5.76  246500
204 2024-10-29  5.77  5.88  5.77   5.82   61800
205 2024-10-30  5.87  5.93  5.87   5.90   48700
206 2024-10-31  6.06  6.06  5.88   5.93  626800
207 2024-11-01  5.75  5.82  5.65   5.77  302400

[208 rows x 6 columns]

##### Trái phiếu niêm yết

In [16]:
stock.quote.history(symbol='CII424002', start='2024-01-02', end='2024-11-01', interval='1D')

          time   open   high    low  close  volume
0   2024-04-11  120.0  139.5  120.0  135.0  186701
1   2024-04-12  132.5  135.1  125.0  130.2  111161
2   2024-04-15  130.2  130.3  123.0  123.5   61607
3   2024-04-16  123.0  123.0  117.0  117.0   31563
4   2024-04-17  114.2  119.0  110.9  117.0   11721
..         ...    ...    ...    ...    ...     ...
136 2024-10-28  122.5  122.5  121.3  121.3    3713
137 2024-10-29  122.9  122.9  121.5  122.0    5542
138 2024-10-30  122.5  123.0  122.0  122.0    7309
139 2024-10-31  122.0  122.5  122.0  122.0   54799
140 2024-11-01  122.0  122.9  122.0  122.9    1922

[141 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [17]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
stock.quote.intraday(symbol='ACB', show_log=False)

                  time    price   volume match_type         id
99 2024-12-31 14:22:55  25400.0     1900        Buy  262914199
98 2024-12-31 14:22:55  25400.0      100        Buy  262914200
97 2024-12-31 14:23:02  25400.0     5000        Buy  262914572
96 2024-12-31 14:23:15  25400.0     2000        Buy  262915008
95 2024-12-31 14:23:16  25400.0     2000        Buy  262915076
..                 ...      ...      ...        ...        ...
4  2024-12-31 14:29:46  25400.0     1000        Buy  262931012
3  2024-12-31 14:29:46  25400.0     2500        Buy  262931019
2  2024-12-31 14:29:55  25400.0      900        Buy  262931464
1  2024-12-31 14:29:56  25400.0      100        Buy  262931510
0  2024-12-31 14:45:01  25800.0  5283900    ATO/ATC  262932528

[100 rows x 5 columns]

In [18]:
# Bước giá và khối lượng giao dịch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  25800    5283900              0               0              5283900
1  25450     585200         447100          138100                    0
2  25400    2345800         708500         1585500                51800
3  25350     626100              0          626100                    0

## Trading: Giao dịch

### Bảng giá

In [19]:
stock.trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   27150  23650     25400      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   4466657912  STOCK  8424512  ...       25500          100       25400

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0         7700       25800       560500       25850        61200       25900


  ask_3_volume
0       192300

[1 rows x 41 columns]

In [20]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                                                                                  0  \
listing symbol                                                                  VCB
        ceiling                                                               98400
        floor                                                                 85600
        ref_price                                                             92000
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     5589091262
        type                                                                  STOCK
        id                                                                  8424561
        organ_name                Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
        prior_close_price                                                     92000
        benefit
        trading_date                                                     2024-12-31
match   match_price                                                           91200
        match_vol                                                           1418700
        accumulated_volume                                                  2374000
        accumulated_value                                                    217412
        avg_match_price                                                91580.454928
        highest                                                               92400
        lowest                                                                91200
        match_type                                                          unknown
        foreign_sell_volume                                                 1645982
        foreign_buy_volume                                                   207500
        current_room                                                      391455561
        total_room                                                       1676727378
        total_accumulated_value                                           217412.12
        total_accumulated_volume                                              23740
        reference_price                                                       92000
bid_ask bid_1_price                                                           91100
        bid_1_volume                                                         228700
        bid_2_price                                                           91000
        bid_2_volume                                                         269700
        bid_3_price                                                           90800
        bid_3_volume                                                          10000
        ask_1_price                                                           91200
        ask_1_volume                                                         210100
        ask_2_price                                                           92000
        ask_2_volume                                                           5600
        ask_3_price                                                           92100
        ask_3_volume                                                          13400

                                                                    1  \
listing symbol                                                    ACB
        ceiling                                                 27150
        floor                                                   23650
        ref_price                                               25400
        stock_type                                              STOCK
        exchange                                                  HSX
        last_trading_date
        listed_share                                       4466657912
        type                                                    STOCK
        id                                                    8424512
        organ_name                Ngân hàng Thương mại Cổ phần Á Châu
        prior_close_price                                       25400
        benefit
        trading_date                                       2024-12-31
match   match_price                                             25800
        match_vol                                             5283900
        accumulated_volume                                    8841000
        accumulated_value                                      226672
        avg_match_price                                  25638.728651
        highest                                                 25800
        lowest                                                  25350
        match_type                                            unknown
        foreign_sell_volume                                         0
        foreign_buy_volume                                          0
        current_room                                                0
        total_room                                         1339997373
        total_accumulated_value                            226672.915
        total_accumulated_volume                                88410
        reference_price                                         25400
bid_ask bid_1_price                                             25600
        bid_1_volume                                             3000
        bid_2_price                                             25500
        bid_2_volume                                              100
        bid_3_price                                             25400
        bid_3_volume                                             7700
        ask_1_price                                             25800
        ask_1_volume                                           560500
        ask_2_price                                             25850
        ask_2_volume                                            61200
        ask_3_price                                             25900
        ask_3_volume                                           192300

                                                                                2  \
listing symbol                                                                TCB
        ceiling                                                             26100
        floor                                                               22700
        ref_price                                                           24400
        stock_type                                                          STOCK
        exchange                                                              HSX
        last_trading_date
        listed_share                                                   7045021622
        type                                                                STOCK
        id                                                                8424683
        organ_name                Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam
        prior_close_price                                                   24400
        benefit
        trading_date                                                   2024-12-31
match   match_price                                                         24650
        match_vol                                                         4369000
        accumulated_volume                                                9403700
        accumulated_value                                                  230694
        avg_match_price                                              24532.258579
        highest                                                             24650
        lowest                                                              24350
        match_type                                                        unknown
        foreign_sell_volume                                                353500
        foreign_buy_volume                                                 272400
        current_room                                                            0
        total_room                                                     1590552461
        total_accumulated_value                                         230694.42
        total_accumulated_volume                                            94037
        reference_price                                                     24400
bid_ask bid_1_price                                                         24600
        bid_1_volume                                                         3000
        bid_2_price                                                         24550
        bid_2_volume                                                       162000
        bid_3_price                                                         24400
        bid_3_volume                                                        29300
        ask_1_price                                                         24650
        ask_1_volume                                                       156100
        ask_2_price                                                         24700
        ask_2_volume                                                       214400
        ask_3_price                                                         24750
        ask_3_volume                                                       355900

                                                                                  3
listing symbol                                                                  BID
        ceiling                                                               40900
        floor                                                                 35600
        ref_price                                                             38250
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     6897527439
        type                                                                  STOCK
        id                                                                  8424583
        organ_name                Ngân hàng Thương mại Cổ phần Đầu tư và Phát tr...
        prior_close_price                                                     38250
        benefit
        trading_date                                                     2024-12-31
match   match_price                                                           37550
        match_vol                                                           2127800
        accumulated_volume                                                  3416900
        accumulated_value                                                    129676
        avg_match_price                                                37951.359419
        highest                                                               38750
        lowest                                                                37550
        match_type                                                          unknown
        foreign_sell_volume                                                 2080017
        foreign_buy_volume                                                   147400
        current_room                                                      750327934
        total_room                                                       1710130770
        total_accumulated_value                                          129676.155
        total_accumulated_volume                                              34169
        reference_price                                                       38250
bid_ask bid_1_price                                                           37550
        bid_1_volume                                                          60600
        bid_2_price                                                           37500
        bid_2_volume                                                          27100
        bid_3_price                                                           37450
        bid_3_volume                                                            500
        ask_1_price                                                           38000
        ask_1_volume                                                           1000
        ask_2_price                                                           38400
        ask_2_volume                                                            400
        ask_3_price                                                           38500
        ask_3_volume                                                          20100

## Company: Thông tin công ty

> Hiện tại chỉ có nguồn dữ liệu `TCBS` được hỗ trợ

In [21]:
from vnstock import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

### Tổng quan

In [22]:
company.overview()

,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,HOSE,Ngân hàng,NH,25183,0.23,5589.1,5589.1,2008,23989,2.7,-0.015,-0.036,0.015,Vietcombank,https://vietcombank.com.vn,289,8355

### Hồ sơ

In [23]:
company.profile()

,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...,Ngày 30/10/1962: Ngân hàng Ngoại thương Việt...,None,Rủi ro địa chính trị và nguy cơ chiến tranh ...,Dịch vụ tài khoản Dịch vụ huy động vốn (tiền...,"Ngân hàng số 1 tại Việt Nam, một trong 100 ng..."

### Cổ đông

In [24]:
company.shareholders()

                  share_holder  share_own_percent
0  Ngân Hàng Nhà Nước Việt Nam             0.7480
1          Mizuho Bank Limited             0.1500
2                         Khác             0.0207

### Giao dịch nội bộ

In [25]:
company.insider_deals()

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2023-12-21,None,Mua,5000.0,80900.0,0.127
1,2020-12-30,None,Bán,-2523.0,64175.0,0.421
2,2020-12-23,None,Bán,-15000.0,63913.0,0.427
3,2020-04-27,None,Mua,10000.0,43434.0,1.100
4,2019-11-29,None,Bán,-10000.0,54974.0,0.659
5,2019-07-26,None,Bán,-21000.0,50592.0,0.803
6,2019-07-22,None,Bán,-37000.0,50914.0,0.791
7,2019-01-16,None,Mua,10000.0,35704.0,1.554
8,2019-01-10,None,Mua,10000.0,35447.0,1.573
9,2018-12-03,None,Mua,10000.0,37380.0,1.440
10,2018-02-08,None,Mua,8000.0,40023.0,1.279
11,2018-01-29,None,Bán,-2829.0,43268.0,1.108
12,2018-01-05,None,Mua,10000.0,34360.0,1.654
13,2018-01-03,None,Bán,-5000.0,34933.0,1.611
14,2018-01-03,None,Bán,-1700.0,34933.0,1.611
15,2017-02-07,None,Mua,10000.0,24445.0,2.731
16,2016-01-12,None,Mua,10000.0,19310.0,3.723
17,2015-03-18,None,Bán,-4000.0,15845.0,4.756
18,2015-02-12,None,Mua,1000.0,16066.0,4.677
19,2014-02-12,None,Mua,10000.0,NaN,NaN

### Công ty con, liên kết

In [26]:
company.subsidiaries()

                                     sub_company_name  sub_own_percent
0   Công ty TNHH Chứng khoán Ngân hàng Thương mại ...            1.000
1   Công Ty TNHH Một Thành Viên Kiều Hối Ngân Hàng...            1.000
2   Công ty TNHH MTV Cho Thuê Tài Chính Ngân Hàng ...            1.000
3       Công ty TNHH Tài Chính Việt Nam Tại Hồng Kông            1.000
4    Ngân Hàng TNHH MTV Ngoại Thương Việt Nam Tại Lào            1.000
5                       Công ty Chuyển Tiền Vcb Money            0.875
6                 Công ty TNHH Cao Ốc Vietcombank 198            0.700
7   Công Ty Liên Doanh Trách Nhiệm Hữu Hạn Vietcom...            0.520
8   Công ty TNHH Quản lý quỹ đầu tư chứng khoán Vi...            0.510
9                  Công ty TNHH Bảo hiểm FWD Việt Nam            0.450
10      Công ty Liên Doanh Hữu Hạn Vietcombank-bonday            0.160
11           Tổng Công ty Cổ phần Bảo hiểm Petrolimex            0.080
12  Ngân hàng Thương mại Cổ phần Xuất nhập khẩu Vi...            0.045
13              Ngân hàng Thương mại Cổ phần Quân đội            0.044
14            Tổng Công ty Hàng không Việt Nam - CTCP            0.010
15  Tổng Công ty Cổ phần Khoan và Dịch vụ khoan Dầ...            0.002
16           Ngân hàng Thương mại Cổ phần Phương Đông            0.000

### Ban lãnh đạo

In [27]:
company.officers()

           officer_name               officer_position  officer_own_percent
3     Nguyễn Danh Lương   Thành viên Hội đồng Quản trị                  0.0
9        Lê Thị Kim Nga   Thành viên Hội đồng Quản trị                  0.0
13           Lê Thị Hoa   Thành viên Hội đồng Quản trị                  0.0
19  Nguyễn Thị Kim Oanh   Thành viên Hội đồng Quản trị                  0.0
11     Đỗ Thị Mai Hương       Thành viên Ban kiểm soát                  0.0
5     Nguyễn Danh Lương    Phụ trách Công bố thông tin                  0.0
4     Nguyễn Danh Lương              Phó Tổng Giám đốc                  0.0
12        Lê Hoàng Tùng              Phó Tổng Giám đốc                  0.0
15        Đào Minh Tuấn              Phó Tổng Giám đốc                  0.0
7     Nguyễn Thanh Tùng  Người đại diện theo pháp luật                  0.0
6     Nguyễn Thanh Tùng     Chủ tịch Hội đồng Quản trị                  0.0
0         Đàm Lam Thanh                           None                  0.0
1      Đậu Thị Thúy Vân                           None                  0.0
2     Nghiêm Xuân Thành                           None                  0.0
8         Nguyễn Mỹ Hào                           None                  0.0
10              Đào Hảo                           None                  0.0
14      Nghiêm Thị Thúy                           None                  0.0
16      Nguyễn Hòa Bình                           None                  0.0
17    Nguyễn Hồng Thắng                           None                  0.0
18       Trương Lệ Hiền                           None                  0.0

### Sự kiện

In [28]:
company.events()

The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,63.0,55.0,2574126,92800.0,2000.0,0.022,0.058,VCB - BCTC kiểm toán quý 2/2024,KQQY,2024-08-21 00:00:00,2024-08-21 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,VCB - BCTC kiểm toán quý 2/2024
1,52.5,42.0,2569704,88000.0,0.0,0.000,-0.009,VCB - Tổ chức ĐHĐCĐ bất thường 2024,EGME,2024-07-05 00:00:00,2024-08-19 00:00:00,2024-07-19 00:00:00,2024-07-18 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
2,41.4,50.0,2570706,NaN,NaN,NaN,NaN,VCB - BCTC quý 1/2024,KQQY,2024-04-27 00:00:00,2024-04-27 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,VCB - BCTC quý 1/2024
3,56.4,54.0,2566332,94400.0,300.0,0.003,0.050,VCB - Tổ chức ĐHĐCĐ thường niên 2024,AGME,2024-03-12 00:00:00,2024-04-27 00:00:00,2024-03-27 00:00:00,2024-03-26 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
4,52.0,61.0,2564026,89100.0,0.0,0.000,-0.027,"VCB - Niêm yết bổ sung 856,574,691 cổ phiếu",AIS,2023-08-31 00:00:00,2023-08-30 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
5,45.5,70.0,2563891,86300.0,-2100.0,-0.024,-0.026,VCB - Tổ chức ĐHĐCĐ bất thường 2023,EGME,2023-08-23 00:00:00,2023-10-06 00:00:00,2023-09-05 00:00:00,2023-08-31 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
6,61.2,56.0,2563509,88819.0,762.0,0.009,0.023,"VCB - Phát hành cổ phiếu trả cổ tức tỷ lệ 18,1%",ISS,2023-07-13 00:00:00,2023-07-25 00:00:00,2023-07-26 00:00:00,2023-07-25 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
7,57.3,82.0,2561470,78743.0,-423.0,-0.005,0.044,VCB - Tổ chức ĐHĐCĐ thường niên 2023,AGME,2023-03-01 00:00:00,2023-04-21 00:00:00,2023-03-21 00:00:00,2023-03-20 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
8,55.6,64.0,2560593,66889.0,-170.0,-0.003,0.053,VCB - Tổ chức ĐHĐCĐ bất thường 2023,EGME,2022-12-20 00:00:00,2023-01-30 00:00:00,2022-12-30 00:00:00,2022-12-29 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
9,45.6,46.0,2476530,68667.0,-2625.0,-0.037,-0.068,VCB - Tổ chức ĐHĐCĐ thường niên 2022,AGME,2022-03-15 00:00:00,2022-04-29 00:00:00,2022-03-28 00:00:00,2022-03-25 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
10,65.5,56.0,2446356,75356.0,-1694.0,-0.022,0.112,VCB - Niêm yết bổ sung 1.023.639.123 cổ phiếu,AIS,2022-01-28 17:47:09,2022-02-14 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Vi...
11,44.5,32.0,2395944,64962.0,-524.0,-0.008,0.020,VCB - Phát hành cổ phiếu trả cổ tức tỷ lệ 27.6%,ISS,2021-12-16 11:58:44,2021-12-22 00:00:00,2021-12-23 00:00:00,2021-12-22 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
12,44.5,32.0,2395943,64962.0,-524.0,-0.008,0.020,"VCB - Trả cổ tức Cả năm, 2020 bằng tiền 1200 V...",DIV,2021-12-16 09:00:00,2022-01-05 00:00:00,2021-12-23 00:00:00,2021-12-22 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
13,51.9,30.0,1611831,64306.0,-1246.0,-0.019,-0.043,VCB - Tổ chức ĐHĐCĐ thường niên 2021,AGME,2021-02-24 00:00:00,2021-04-23 00:00:00,2021-03-19 00:00:00,2021-03-18 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
14,NaN,65.0,1481291,63590.0,-1366.0,-0.021,0.140,"VCB - Trả cổ tức Cả năm, 2019 bằng tiền 800 VN...",DIV,2020-12-15 09:00:00,2021-01-08 00:00:00,2020-12-22 00:00:00,2020-12-21 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...

### Tin tức

In [29]:
company.news()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,46.8,42.0,92100.0,-300.0,-0.003,-0.003,11418674,VCB: HĐQT phê duyệt giới hạn tín dụng đối với CB,TCBS,2024-12-26 17:47:00
1,59.8,55.0,92200.0,-1000.0,-0.011,0.008,11374127,Từ 10 năm vượt khó đến cánh cửa đã mở,TCBS,2024-11-08 13:30:00
2,51.1,52.0,93600.0,1900.0,0.021,0.017,11366151,VCB: Đường dẫn và Giải trình biến động lợi nh...,TCBS,2024-10-31 15:22:00
3,51.1,52.0,93600.0,1900.0,0.021,0.017,11364938,Ông Nguyễn Mỹ Hào xin từ nhiệm vị trí Thành vi...,TCBS,2024-10-31 00:08:00
4,54.5,59.0,91700.0,-300.0,-0.003,-0.003,11364219,VCB: Thông báo nhận được đơn từ nhiệm Thành v...,TCBS,2024-10-30 14:34:00
5,58.2,69.0,NaN,NaN,NaN,NaN,11352312,Đề nghị bổ sung hơn 20.000 tỷ đồng cho Vietcom...,TCBS,2024-10-19 10:45:00
6,56.8,70.0,92400.0,200.0,0.002,0.015,11352092,VCB: Thông tin về việc nhận chuyển giao bắt b...,TCBS,2024-10-18 17:42:00
7,50.7,63.0,91400.0,0.0,0.000,0.028,11347901,VCB: Nghị quyết HĐQT về việc phê duyệt phương...,TCBS,2024-10-15 16:37:00
8,61.2,65.0,92600.0,-100.0,-0.001,0.018,11337404,VCB: HĐQT phê duyệt giới hạn tín dụng đối với...,TCBS,2024-10-03 17:56:00
9,58.4,71.0,90600.0,-900.0,-0.010,-0.002,11325137,VCB: HĐQT phê duyệt điều chỉnh giới hạn tín d...,TCBS,2024-09-20 17:26:00
10,58.4,71.0,90600.0,-900.0,-0.010,-0.002,11325139,VCB: Thông báo về việc sử dụng con dấu mới củ...,TCBS,2024-09-20 17:25:00
11,51.6,47.0,90200.0,0.0,0.000,0.029,11313077,VCB: HĐQT thông qua giao dịch giữa VCB với VCBM,TCBS,2024-09-09 15:34:00
12,61.0,54.0,91100.0,-400.0,-0.004,0.044,11303459,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...,TCBS,2024-08-28 10:34:00
13,64.2,54.0,91500.0,-500.0,-0.005,0.048,11302907,VCB: Quy chế tổ chức và hoạt động của BKS sửa...,TCBS,2024-08-27 17:22:00
14,64.2,54.0,91500.0,-500.0,-0.005,0.048,11302770,VCB: Điều lệ công ty sửa đổi,TCBS,2024-08-27 15:36:00

### Cổ tức

In [30]:
company.dividends()

   exercise_date  cash_year  cash_dividend_percentage issue_method
0       25/07/23       2023                     0.181        share
1       22/12/21       2020                     0.120         cash
2       22/12/21       2022                     0.276        share
3       21/12/20       2019                     0.080         cash
4       30/12/19       2018                     0.080         cash
5       05/10/18       2017                     0.080         cash
6       28/09/17       2016                     0.080         cash
7       09/09/16       2015                     0.100         cash
8       26/06/15       2014                     0.100         cash
9       18/06/14       2013                     0.120         cash
10      26/02/13       2012                     0.120         cash
11      24/02/12       2011                     0.120         cash
12      18/07/11       2011                     0.120        share
13      10/03/10       2009                     0.120         cash
14      01/12/08       2008                     0.120         cash

## Finance: Báo cáo tài chính

In [31]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='VCI', source='VCI')

2025-01-02 06:06:15 - vnstock.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

### Bảng cân đối kế toán

In [32]:
stock.finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,TÀI SẢN NGẮN HẠN (Tỷ đồng),Tiền và tương đương tiền (Tỷ đồng),Giá trị thuần đầu tư ngắn hạn (Tỷ đồng),Các khoản phải thu ngắn hạn (Tỷ đồng),Hàng tồn kho ròng,Tài sản lưu động khác,TÀI SẢN DÀI HẠN (Tỷ đồng),Tài sản cố định (Tỷ đồng),...,"Hàng tồn kho, ròng (Tỷ đồng)",Tài sản lưu động khác (Tỷ đồng),Cổ phiếu phổ thông (Tỷ đồng),Vốn góp của chủ sở hữu (Tỷ đồng),Vay và nợ thuê tài chính dài hạn (Tỷ đồng),Người mua trả tiền trước ngắn hạn (Tỷ đồng),Vay và nợ thuê tài chính ngắn hạn (Tỷ đồng),Trả trước dài hạn (Tỷ đồng),Tài sản dài hạn khác (Tỷ đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,VCI,2023,17174448616966,787897819240,15097165308797,1094491429414,0,194894059515,80686039559,23425609453,...,0,147257185100,4.375000e+12,4375000000000,0,378319774,8979275000000,7943878800,0,0.000000e+00
1,VCI,2022,14157693071824,3423501614803,10562264962864,120085485886,0,51841008271,85058244998,23496558588,...,0,46136989800,4.354999e+12,4354999010000,0,221000000,6326207142857,13290531600,0,0.000000e+00
2,VCI,2021,16568965942558,1131748599533,14998113044339,285206345277,0,153897953409,67299004559,13155825424,...,0,150714917648,3.330000e+12,3330000000000,0,52551076244,6362680000000,10702485700,0,0.000000e+00
3,VCI,2020,8312170798945,642512983590,6697916243107,221798617565,0,97527648804,70234326495,14384201512,...,0,91333803000,1.656000e+12,1656000000000,0,7971369863,2696130000000,12950546970,0,0.000000e+00
4,VCI,2019,7173102515011,794511762602,5817229478552,747087592357,0,165433739031,69857713462,9907318916,...,0,164204396000,1.644000e+12,1644000000000,0,210000000,1450980000000,17085900679,0,0.000000e+00
5,VCI,2018,6430493843962,1144361568890,5252959790479,30487868695,0,2684615898,79502079245,18226354386,...,0,0,1.629999e+12,1629998900000,0,126324890101,984860000000,25494063880,0,0.000000e+00
6,VCI,2017,6342806740944,486703202803,5709256554482,28256236703,0,118590746956,59205004260,25326131092,...,0,116156411000,1.200000e+12,1200000000000,0,462392057000,1434460418662,2171535344,0,0.000000e+00
7,VCI,2016,3075625891871,545670784533,2481417250820,44869461531,0,7607339062,34921874969,9489824544,...,0,1335936000,1.032000e+12,1032000000000,0,571264678998,627508000000,4433448206,0,7.721605e+10
8,VCI,2015,2423478575254,158181741192,2092718191471,78849205458,0,92517941380,39867670505,14899441202,...,0,87885991500,5.000000e+11,500000000000,0,799974087998,535500000000,9817929938,0,7.475699e+10
9,VCI,2014,2707101348631,618777857754,1939716412996,141064801745,14179400,7528096736,63219168401,18390029859,...,14179400,3095401526,5.000000e+11,500000000000,0,840646942003,266511750000,14560154043,14160000000,7.604128e+10
10,VCI,2013,2090711345801,312645301464,1659030664666,117641213076,16677400,1377489195,41576018914,11027268785,...,16677400,87777500,0.000000e+00,398400000000,0,470366997300,648400000000,16231644217,0,0.000000e+00
11,VCI,2011,1795452129469,111616718751,1059922610501,614818783909,12320284,9081696024,622201775573,7612776214,...,12320284,6609715987,3.780000e+11,378000000000,500000000000,121749992655,582426780000,0,594640525000,0.000000e+00

In [33]:
stock.finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,CURRENT ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Short-term investments (Bn. VND),Accounts receivable (Bn. VND),Net Inventories,Other current assets,LONG-TERM ASSETS (Bn. VND),...,Other current assets (Bn. VND),Common shares (Bn. VND),Paid-in capital (Bn. VND),Long-term borrowings (Bn. VND),Advances from customers (Bn. VND),Short-term borrowings (Bn. VND),Long-term prepayments (Bn. VND),Other long-term assets (Bn. VND),Goodwill,MINORITY INTERESTS
0,VCI,2024,3,20322217963459,2543516547760,17408880681428,235746508338,0,134074225933,92945134178,...,122374861200,5.744695e+12,5744694800000,0,4431803623,10832654000000,7503462322,0,0,0.0
1,VCI,2024,2,23009916452730,3903157759657,17775135464006,931122579216,0,400500649851,95455335905,...,372374861200,4.419000e+12,4419000000000,0,1753351687,12392104000000,8879984392,0,0,0.0
2,VCI,2024,1,19458498860847,1040594399692,17454154906730,702530886335,0,261218668090,86105265555,...,227872273100,4.375000e+12,4375000000000,0,1083817322,10239557000000,9017164629,0,0,0.0
3,VCI,2023,4,17174448616966,787897819240,15097165308797,1094491429414,0,194894059515,80686039559,...,147257185100,4.375000e+12,4375000000000,0,378319774,8979275000000,7943878800,0,0,0.0
4,VCI,2023,3,16838819369514,1774586204245,14195053918097,642749608142,0,226429639030,78312416861,...,185097846650,4.375000e+12,4375000000000,0,100000000,8722707142857,8522827154,0,0,0.0

### Báo cáo lãi lỗ

In [34]:
stock.finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Doanh thu (Tỷ đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (Tỷ đồng),Tăng trưởng lợi nhuận (%),Doanh thu thuần,Giá vốn hàng bán,Lãi gộp,Thu nhập tài chính,...,Lợi nhuận khác,LN trước thuế,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông thiểu số,Cổ đông của Công ty mẹ,Doanh thu bán hàng và cung cấp dịch vụ,Thu nhập khác,Thu nhập/Chi phí khác
0,VCI,2023,2472460543397,-0.216644,491904659394,-0.433927,2472460543397,-1063597101525,1408863441872,2.369615e+10,...,128411319,570138640134,-64320454739,-13913526001,491904659394,0,491904659394,2472460543397,132390105,-3978786
1,VCI,2022,3156242736345,-0.148588,868978185802,-0.420186,3156242736345,-1398531179478,1757711556867,3.554843e+10,...,43696276107,1059738713385,-250981079495,60220551912,868978185802,0,868978185802,3156242736345,44543029091,-846752984
2,VCI,2021,3707068724492,1.143320,1498718375328,0.949141,3707068724492,-1326133822522,2380934901970,2.561687e+10,...,-267786912,1850585393088,-309748513618,-42118504142,1498718375328,0,1498718375328,3707068724492,69316632,-337103544
3,VCI,2020,1729591590563,0.122423,768912289421,0.109253,1729591590563,-522004485232,1207587105331,5.858556e+09,...,621078878,951038957081,-182422798514,296130854,768912289421,0,768912289421,1729591590563,621078878,0
4,VCI,2019,1540944352650,-0.154015,693180577268,-0.169467,1540944352650,-462563219754,1078381132896,9.926627e+09,...,17597948,855007109256,-155223164412,-6603367576,693180577268,0,693180577268,1540944352650,17597948,0

In [35]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Net Sales,Cost of Sales,Gross Profit,...,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company,Sales,Other income,Other Income/Expenses
0,VCI,2024,3,974360554621,0.461496,215352225175,0.203064,974360554621,-468140246243,506220308378,...,0,264695399242,-40189361297,-9153812770,215352225175,0,215352225175,974360554621,0,0
1,VCI,2024,2,915851554761,0.828529,279206679897,1.388492,915851554761,-359336052126,556515502635,...,2826585413,343766121537,-64821621464,262179824,279206679897,0,279206679897,915851554761,2837985204,-11399791
2,VCI,2024,1,806317375461,0.615187,197756462393,1.706977,806317375461,-370032071735,436285303726,...,-62475890,227540468148,-37710331505,7926325750,197756462393,0,197756462393,806317375461,232524110,-295000000
3,VCI,2023,4,805695933425,0.011994,122950502675,3.324213,805695933425,-419422487555,386273445870,...,13012123,149131831394,-7570702516,-18610626203,122950502675,0,122950502675,805695933425,16990909,-3978786
4,VCI,2023,3,666686976459,0.278113,179003174655,0.459092,666686976459,-268356522581,398330453878,...,95890411,209569229621,-33158501552,2592446586,179003174655,0,179003174655,666686976459,95890411,0

### Báo cáo lưu chuyển tiền tệ

In [36]:
stock.finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Net Profit/Loss before tax,Depreciation and Amortisation,Provision for credit losses,Unrealized foreign exchange gain/loss,Profit/Loss from investing activities,Interest Expense,Interest income and dividends,Operating profit before changes in working capital,...,Payments for share repurchases,Proceeds from borrowings,Repayment of borrowings,Dividends paid,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Cash and Cash Equivalents at the end of period,Increase/Decrease in receivables,Increase/Decrease in payables
0,VCI,2023,570138640134,9679599271,11292000000,0,0,562553033255,-1.032191e+11,-5407321967895,...,0,20322010000000,-18096042142857,-522119971000,1727849074143,-2635603795563,3423501614803,787897819240,0,3923102445
1,VCI,2022,1059738713385,9647191174,0,0,154602984,477360036322,-5.948490e+10,2006811362129,...,0,15126047142857,-16579490000000,0,-1428442857143,2291753015270,1131748599533,3423501614803,0,-119194100124
2,VCI,2021,1850585393088,7496942452,-214202387,0,0,330776772616,-4.785212e+10,-5732733292320,...,0,16591566600000,-11629266600000,-730123222800,4245676777200,489235615943,642512983590,1131748599533,5939376000,88803338332
3,VCI,2020,951038957081,10634646105,-35400000,0,-500000000,173513458172,-2.094800e+10,-1673271187005,...,-852000000,7065840000000,-6233940000000,-411641446500,432858721500,-151998779012,794511762602,642512983590,57321090000,-265045502541
4,VCI,2019,855007109256,11729076470,22200000,0,-8900000,165277553123,-4.476748e+10,-1299721219619,...,-1000592110,4997872000000,-4785602000000,-227957358660,113369230,-349849806288,1144361568890,794511762602,-63260466000,129318994530

In [37]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Net Sales,Cost of Sales,Gross Profit,...,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company,Sales,Other income,Other Income/Expenses
0,VCI,2024,3,974360554621,0.461496,215352225175,0.203064,974360554621,-468140246243,506220308378,...,0,264695399242,-40189361297,-9153812770,215352225175,0,215352225175,974360554621,0,0
1,VCI,2024,2,915851554761,0.828529,279206679897,1.388492,915851554761,-359336052126,556515502635,...,2826585413,343766121537,-64821621464,262179824,279206679897,0,279206679897,915851554761,2837985204,-11399791
2,VCI,2024,1,806317375461,0.615187,197756462393,1.706977,806317375461,-370032071735,436285303726,...,-62475890,227540468148,-37710331505,7926325750,197756462393,0,197756462393,806317375461,232524110,-295000000
3,VCI,2023,4,805695933425,0.011994,122950502675,3.324213,805695933425,-419422487555,386273445870,...,13012123,149131831394,-7570702516,-18610626203,122950502675,0,122950502675,805695933425,16990909,-3978786
4,VCI,2023,3,666686976459,0.278113,179003174655,0.459092,666686976459,-268356522581,398330453878,...,95890411,209569229621,-33158501552,2592446586,179003174655,0,179003174655,666686976459,95890411,0

### Chỉ số tài chính

In [38]:
stock.finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Chỉ tiêu cơ cấu nguồn vốn                           \
    CP   Năm Kỳ          (Vay NH+DH)/VCSH   Nợ/VCSH TSCĐ / Vốn CSH
0  VCI  2023  5                  1.218152  1.340876       0.003178
1  VCI  2022  5                  0.973942  1.192721       0.003617
2  VCI  2021  5                  0.972610  1.543047       0.002011
3  VCI  2020  5                  0.596293  0.853905       0.003181
4  VCI  2019  5                  0.358125  0.787676       0.002445

                      Chỉ tiêu hiệu quả hoạt động                 \
  Vốn CSH/Vốn điều lệ           Vòng quay tài sản Vòng quay TSCĐ
0            1.026491                    0.156992     105.385605
1            0.904536                    0.204426     172.225781
2            0.910997                    0.296344     269.213152
3            0.629646                    0.221383     142.402909
4            0.564212                    0.224089     109.544483

                              ... Chỉ tiêu thanh khoản Chỉ tiêu định giá  \
  Số ngày thu tiền bình quân  ...    Đòn bẩy tài chính               P/B
0                        0.0  ...             2.340876          1.970499
1                        0.0  ...             2.192721          2.866248
2                        0.0  ...             2.543047          1.183493
3                        0.0  ...             1.853905          2.666309
4                        0.0  ...             1.787676          2.418360

                                                                    \
  Vốn hóa (Tỷ đồng) Số CP lưu hành (Triệu CP)        P/E       P/S
0    14525000000000                 437500000  29.528080  5.874715
1    18617620767750                 435499901  21.424727  5.898666
2     7742250000000                 333000000   5.165914  2.088510
3    12055680000000                 165600000  15.678875  6.970247
4     9798240000000                 164400000  14.135191  6.358594


  P/Cash Flow    EPS (VND)    BVPS (VND)  EV/EBITDA
0   -3.334822  1124.353507  16848.524590  17.525975
1    4.975461  1995.357941  14914.970490  12.729467
2   -2.064593  4500.655782  19645.234971   5.895364
3  -21.093469  4643.190154  27303.662559  12.313747
4  -28.722550  4216.426869  24644.804444  10.220559

[5 rows x 37 columns]

In [39]:
stock.finance.ratio(period='quarter', lang='en', dropna=True).head()

    Meta                         Chỉ tiêu cơ cấu nguồn vốn              \
  ticker yearReport lengthReport (ST+LT borrowings)/Equity Debt/Equity
0    VCI       2024            3                  1.253482    1.362305
1    VCI       2024            2                  1.398891    1.608265
2    VCI       2024            1                  1.252192    1.390102
3    VCI       2023            4                  1.218152    1.340876
4    VCI       2023            3                  1.196291    1.320130

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.003381                       1.203462
1              0.003615                       1.233606
2              0.002676                       1.138743
3              0.003178                       1.026491
4              0.002924                       1.015383

  Chỉ tiêu hiệu quả hoạt động                                              \
               Asset Turnover Fixed Asset Turnover Days Sales Outstanding
0                    0.174413           131.475148                    0.0
1                    0.166335           129.528632                    0.0
2                    0.162937           130.111085                    0.0
3                    0.156992           105.385605                    0.0
4                    0.162360           116.656253                    0.0

   ... Chỉ tiêu thanh khoản Chỉ tiêu định giá                           \
   ...   Financial Leverage               P/B Market Capital (Bn. VND)
0  ...             2.362305          1.882619           23840902736000
1  ...             2.608265          2.379972           21083029916000
2  ...             2.390102          2.571899           21167010000000
3  ...             2.340876          3.092259           22793750000000
4  ...             2.320130          2.520071           18375000000000

                                                                    \
  Outstanding Share (Mil. Shares)        P/E       P/S P/Cash Flow
0                       718099480  24.066690  6.807358  -18.303742
1                       574469480  26.866048  6.599683   -4.975656
2                       441900000  33.973894  7.615216   -4.399652
3                       437500000  46.238494  9.219055   -5.222052
4                       437500000  46.087220  7.460683 -125.437258


    EPS (VND)    BVPS (VND)  EV/EBITDA
0  299.891911  17635.011093  18.517049
1  486.025263  15420.349585  17.950658
2  447.514058  18624.368974  20.739556
3  281.029720  16848.524590  22.946233
4  409.150113  16666.194508  20.784816

[5 rows x 37 columns]